@model BookStore.Domain.Entities.Cart

<div class="navbar-right hidden-xs">
    @Html.ActionLink("CheckOut", "Index", "returnUrl",
    new { returnUrl = Request.Url.PathAndQuery },
    new { @class = "btn btn-default navbar-btn" }
    )
</div>

<div class="navbar-right visible-xs">
    <a href=@Url.Action("Index", "Cart",
    new { returnUrl = Request.Url.PathAndQuery })
       class="btn btn-default navbar-btn">
        <span class="glyphicon-shopping-cart"></span>
        </a>
</div>

<div class="navbar-text navbar-right">
    <b class="hidden-xs">Your Cart:</b>
    @Model.lines.Sum(x => x.Quantity) book(s),
    @Model.ComupteTotalValue().ToString("c")
</div>